:root {
  --light-grey: #f5f6f7;
  --dark-blue: #0a0a23;
  --fcc-blue: #1b1b32;
  --light-yellow: #fecc4c;
  --dark-yellow: #feac32;
  --light-pink: #ffadad;
  --dark-red: #850000;
  --light-green: #acd157;

  --blue: #2474A6;
--orange: #F2935C;
--tan: #D9AC9C;
--red: #D94032;
--white: #F2F2F2;
}

body {
  font-family: "Russo One", sans-serif;
  letter-spacing: 1.5px;
  font-size: 18px;
  background-color: rgb(0, 0, 0);
  color: var(--light-grey);
  text-transform:uppercase
}

h1 {
  text-align: center;
  letter-spacing: -3px;;
font-family: "Sixtyfour Convergence", sans-serif;
}


.container {
  width: 90%;
  max-width: 680px;
}

h1,
.container,
.output {
  margin: 20px auto;
  
}

.container {
  background-color: black;
  padding: 20px;
  border: 2px white solid;
}
label,
legend {
  font-weight: bold;
 
  
}

.input-container {
  display: flex;
  flex-direction: column;
 
}

button {
  cursor: pointer;
  text-decoration: none;
  background-color: var(--red);
  border: 1px solid var(--red);

  background-image: linear-gradient(#fff700 40%, #f24949);
}

button:hover {
  background-image: linear-gradient(#f24949, #f89808);
}

button,
input,
select {
  min-height: 24px;
  color: var(--dark-blue);
}

fieldset,
label,
button,
input,
select {
  margin-bottom: 10px;
}

.output {
  border: 2px solid var(--light-grey);
  padding: 10px;
  text-align: center;
}

.hide {
  display: none;
}

.output span {
  font-weight: bold;
  font-size: 1.2em;
}

.surplus {
  color: var(--red);
}

.deficit {
  color: var(--light-green);
}